on:
  push:
    branches: [ master ]
name: Deploy
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Executing remote ssh commands
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          script: |
            cd fubuki/FubukiBot

            git checkout master
            git pull origin master
            yarn

            touch .env
            > .env
            echo TOKEN=${{ secrets.TOKEN }} >> .env
            echo YT_KEY=${{ secrets.YT_KEY }} >> .env
            echo PIXIV_REFRESH_TOKEN=${{ secrets.PIXIV_REFRESH_TOKEN }} >> .env
            echo COOKIES=${{ secrets.COOKIES }} >> .env
            echo BOT_PASSWORD=${{ secrets.BOT_PASSWORD }} >> .env
            echo HTTP_URL=${{ secrets.HTTP_URL }} >> .env
            echo WS_URL=${{ secrets.WS_URL }} >> .env

            yarn build

            pm2 delete fubuki-bot
            pm2 start yarn --name fubuki-bot -- start

